<h1>Senators Information</h1>
<div class='senator_container'>
  <h1 class='senator_info'><%= @senator.first_name + @senator.last_name%></h1><br>
  <h4 class='senator_info'>Name:<%= @senator.date_of_birth %></h4>
  <h4 class='senator_info'>Gender:<%= @senator.gender %></h4>
  <h4 class='senator_info'>Party:<%= @senator.political_party %></h4>  
  <h4 class='senator_info'>Job Title:<%= @senator.job_title %></h4>
  <h4 class='senator_info'>State:<%= @senator.state %></h4>
  <h4 class='senator_info'>Rank:<%= @senator.rank %></h4>
  <h4 class='senator_info'>Phone Number:<%= @senator.phone %></h4>
  <h4 class='senator_info'>Start Date:<%= @senator.start_date %></h4>
  <h4 class='senator_info'>End Date:<%= @senator.end_date %></h4>
  <h4 class='senator_info'>Website:<%= @senator.website %></h4>
  <h4 class='senator_info'>Link To Gov<%= @senator.link_to_gov %></h4>
  <h4 class='senator_info'>Twitter Handle:<%= @senator.twitter_handle %></h4>
  <h4 class='senator_info'>YouTube ID<%= @senator.youtube_id %></h4>
  <h4 class='senator_info'>CSPAN ID<%= @senator.cspan_id %></h4>
</div>